<!--[if lt IE 8]><html dir="ltr" lang="en" class="ie lt8 lt9"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en" class="ie ie8 lt9"><![endif]-->
<!--[if IE 9]><html dir="ltr" lang="en" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="shortcut icon" href="{{ site.url }}/public/img/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ site.url }}/public/img/apple-touch-icon.png" />
	<link rel="stylesheet" href="{{ site.url }}/public/css/app.min.css" />
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	<!--[if lt IE 9]>
		<script src="{{ site.url }}/public/js/html5.js"></script>
		<script src="{{ site.url }}/public/js/respond.js"></script>
	<![endif]-->
	<title>Nireus: {% if page.title %}{{ page.title }}{% endif %}</title>
</head>
