<aside class="main-right">
	<div class="main-right-open div-affix">Menu</div>
	<div class="main-right-inner div-affix">
		<nav>
			<ul>
				<li><a href="{{ site.url }}/">Home</a></li>
				<li><a href="{{ site.url }}/wiki/install/">Install</a></li>
				<li><a href="{{ site.url }}/wiki/config/">Config</a></li>
				<li><a href="{{ site.url }}/wiki/upgrade/">Upgrade</a></li>
			</ul>
		</nav>
		<nav>
			<ul>
				<li><a href="{{ site.url }}/api/">API</a></li>
				<li><a href="https://github.com/bugtrackr/bumpy-booby">Source Code</a></li>
			</ul>
		</nav>
		<div class="div-labels">
			<a href="https://github.com/bugtrackr/bumpy-booby/releases/latest" class="label" style="background-color:#B94A48">Download</a>
			<a href="https://demo.bugtrackr.eu/" class="label" style="background-color:#F89406">DEMO</a>
		</div>
		<div class="div-copyright">
			<a href="{{ site.url }}/contact/">Contact</a><br />
			<a href="{{ site.url }}/privacy/">Privacy Policy</a><br />
			<a href="{{ site.url }}/legal/">Legal Notice</a><br />
			<a href="{{ site.url }}/license/">MIT License</a>
		</div>
	</div>
</aside>
