<aside class="main-right">
	<div class="main-right-open div-affix">Menu</div>
	<div class="main-right-inner div-affix">
		<nav>
			<ul>
				<li><a href="{{ site.url }}/">Home</a></li>
				<li><a href="{{ site.url }}/">Install</a></li>
				<li><a href="{{ site.url }}/">Config</a></li>
				<li><a href="{{ site.url }}/">Upgrade</a></li>
			</ul>
		</nav>
		<nav>
			<ul>
				<li><a href="{{ site.url }}/">Home</a></li>
				<li><a href="{{ site.url }}/">Home</a></li>
				<li><a href="{{ site.url }}/">Home</a></li>
			</ul>
		</nav>
		<div class="div-labels">
			<a href="http://bumpy.booby/index.php?project=2nd-project&page=issues&label=urgent" class="label" style="background-color:#B94A48">Urgent</a>
			<a href="http://bumpy.booby/index.php?project=2nd-project&page=issues&label=improvement" class="label" style="background-color:#355479">Improvement</a>
			<a href="http://bumpy.booby/index.php?project=2nd-project&page=issues&label=private" class="label" style="background-color:#F89406">Private</a>
		</div>
		<div class="div-copyright">
			<a href="http://bumpy.booby/index.php?project=2nd-project&page=rss" target="_blank">RSS feed</a><br />Powered by <a href="https://github.com/Spamty/Bumpy-Booby" target="_blank">Bumpy Booby</a>.
		</div>
	</div>
</aside>
